.Header{
  border: 1px solid red;
  padding: 0px 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.Search{
}

.Search input{
  width: 500px;
  height: 40px;
  font-size: 18px;
  padding-left: 10px;
}

.Search input::placeholder{
  font-size: 18px;
}

.Options{
  border:1px solid blue;
  width: 500px;
}